

/*NAV BAR*/
.main-nav {
    display:flex;
    list-style: none;
    margin: 0;

}
@media only screen and (max-width: 1100px) {
    .main-nav {
        font-size: 0.9em;
        padding:0;
    }
}
.main-nav > li {
    padding: 15px;
}
.main-nav a {
    color: #f5f5f6;
    text-decoration:none;
}
.book-a-shoot {
margin-left:auto;
}

.sticky {
    position:fixed;
    top:0;
    width:100%;
}
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */

}
.zone {
    
    cursor:pointer;
    color:#FFF;
    border-radius:4px;
    transition: all 0.3s linear;
}
/*END of NAV bar*/

.description-index {
  display:flex;
  justify-content: center;
  margin-left: 100px;
    margin-right: 100px;
    text-align: center;
color: whitesmoke;
  background-color: rgb(124, 41, 106, 0.9);
  border: solid black 2px; 
}
li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}


@media only screen and (max-width: 1000px) {
  .description-index {
    margin-left: 0;
    margin-right: 0;
  }
}

}ul {
      text-decoration:none;
      list-style-type: none;

}
.how-book {
  text-size: 2rem;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none; }

h1 {background-color: rgb(124, 41, 106);
color: whitesmoke;
text-align:center;
border: 5px solid #AA9739;
background-color: rgb(124, 41, 106, 0.6);
margin-top:80px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #black;
  font-family: Tahoma;
  font-size: 16px;
  padding: 0;
        background: url(background.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body2 {
   width: 100%;
  height: 100vh;
  margin: 0;
  color: #black;
  font-family: Tahoma;
  font-size: 16px;
  padding: 0;
        background: url(2.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .emphasize {
font-size:1.45rem;
color: rgb(124, 41, 106, 0.9);
background-color: white;
 }

.center {
    display: flex;
    flex-direction: column;
   align-items: center;
   padding:5px;
   margin: 5px;
    }

.logoback {
     display:flex;
    align-items:center;
    justify-content: center;
background-color: rgb(124, 41, 106);
color: whitesmoke;
text-align:center;
border: 5px solid #AA9739;
background-color: rgb(124, 41, 106, 0.6);
margin:auto;
margin-top: 80px;
 max-width: 100%;
 width: auto;
  height: auto;
}
#logo {
  max-width: 100%;
 width: 290px;
  height: auto;
  display:flex;
  justify-content: space-evenly;
  background-color: rgb(124, 41, 106);
color: whitesmoke;
text-align:center;
background-color: rgb(124, 41, 106, 0.6);
margin:auto;
}

form {
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: rgb(124, 41, 106, 0.8);
  color: white;
  padding: 8px 8px 8px 8px;
  border-bottom: 3px solid #3b3b4f;
  border: 4px solid #AA9739;
  margin-top: 30px;
  align-content: right;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  max-width: 300px;

  }

  input {
    width: 100%;
  }

  .no-float {
        width: auto;
        padding:0px;
  }
.requestshoot {
float:space-evenly;  
max-width: 150px;
height:auto;
font-size: 1.2rem;
}


.requestshoot:hover {transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  label, input, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/*Gallery page */

.gallery1 { 
  display: flex;
flex-direction: wrap;
        flex-wrap: wrap;  
        gap: 16px;
   max-width: 100%;
    max-height: auto;
  margin: 0 auto;
  padding: 20px 10px;

}

  .gallery1 img {
  width: 500px;
  height: 300px;
  border:3px solid;
  margin: 20px;
    object-fit: cover;
  border-color: #255, 255, 255;
  transition: all 1.5s;
}

@media screen and (max-width: 600px) {
  .gallery1 img { 
    max-width: 400px;
    height:250px;
}
}

.gallery1 img:hover
{transform: scale(1.2);
}
 
.pricelist {
  border: 3px solid black;
  padding: 10px solid grey;
  margin:none;
  background-color: grey;
  width: 400px;
  margin-top: 50px;
  
}
.pricelist .priceitem {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin:none;
  vertical-align: auto;
}

.pricelist .pricetop {
    border: 4px solid gold;

}
.pricetable {
  display: flex;
  flex-direction: row;
  align-content: center;
   justify-content: center;
  gap: 16px;
}
.pricelist:hover
{transform: scale(1.1);
}

.pricelist {
transition: all 1.5s;
}

.pricehead {
  color: red;
  font-size: 1.5em;
  text-align: center;
}